<%-include('./Partials/head.ejs')%>
<div class="form login">
    <!-- if(value === ' '){/create}else{%>
        /edit/:id
        }%> -->

<form action="/create" method="POST" id="input-form">
    <label for="UserName"> Title:</label>
    <input type="text" name="title" placeholder="Enter Your Post Title" required>
 
  

    <label for="Email"> Post:</label>
    <textarea name="body" id="PostContent" cols="30" rows="10" class="inputs" placeholder="type your post here.." required ></textarea>


    <button type="submit" class="btn">Add post</button>
</form>
</div>

<%-include('./Partials/footer.ejs') %>