<%-include ('./Partials/head.ejs') %>
<body>
    <%- include('./Partials/navbar.ejs') %>
    <div class="home">  
        <div class="right">
            <img src="/public/Images/background.jpg" alt="image">
        </div>
        <div class="left">
            <h1>To continue, Click on signup above to register</h1>
            <h2 class="hr-line">Or</h2>
<a href="/signup">Click Here</a>
        </div>

</div>
<%- include ('./Partials/footer.ejs') %>